@import 'sass-only/app';
@import 'sass-only/utils';

//
// For mobile styles on ALL pages, everything should be in a media query.
//

@media screen and (max-width: 1220px) { html {
	.hide-in-desktop {
		display: block !important;
	}

	.hide-in-mobile {
		display: none !important;
	}

	body {
		.a11y-toolbar {
			ul.a11y-toolbar-list {
				li.a11y-toolbar-list-item {
					button {
						&.a11y-toggle-contrast {
							&.active::after {
								border-width: 0 15px 11px !important;
							}
						}
						&.a11y-toggle-fontsize {
							&.active::after {
								border-width: 0 19px 11px !important;
							}
						}
					}

					.skip-to-content {
						font-size: 1em !important;
						padding: 10px !important;
						position: relative !important;
						top: -5px !important;
						margin: 0 !important;
						margin-top: 7px !important;
					}
				}
			}
		}
	}

	#app {
		margin-top: 88px;
	}

	header {
		.top {
			padding: 0 !important;
		}

		.backdrop {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			background: rgba(0, 0, 0, 0.5);
			z-index: 9999;
			opacity: 0;
			pointer-events: none;
			transition: 0.8s opacity $expo;
		}

		&.active {
			.backdrop {
				cursor: pointer;
				pointer-events: all;
				opacity: 1;
			}

			.menu-btn {
				color: $primary;
				background: rgba(0,0,50,0);
			}
		}

		.mobile-logo {
			background: $primary;
			text-align: center;
			position: fixed;
			z-index: 9999;
			width: 100vw;
			top: 0;

			a {
				height: 100%;
				width: 100%;
    			display: block;
			}

			img {
				display: inline-block;
				margin: 15px;
			}
		}

		.menu-btn {
			display: block;
			position: fixed;
			top: 17px;
			right: 30px;
			font-size: 2rem;
			color: #FFF;
			background: $primary;
			cursor: pointer;
			z-index: 10001;
		    padding: 5px 12px;
		}

		.top {
			position: absolute;
			top: 0;
			left: 0;

			.logo {
				display: none;
			}

			nav {
				flex-wrap: wrap;
				position: fixed;
				top: 0;
				right: 0;
				height: auto;
				width: 100vw;
				max-width: 600px;
			    padding: 35px 70px 35px 30px;
				margin: 0;
				background: $tertiary;
				line-height: 24px;
				font-size: 1.1rem;
			    box-shadow: 0 0 0 rgba(10,10,10,0.7);
				z-index: 10000;
				transform-origin: center right;
				transform: perspective(750px) rotateY(-90deg);
				transition: 0.8s transform $expo;

				>div {
					flex: 1 1 160px;
				}

				&::after {
					content: "Click anywhere to close";
					box-sizing: border-box;
					position: absolute;
					display: inline-block;
					bottom: -15px;
					left: 50%;
					min-width: 200px;
					transform: translate(-50%, 100%);
					text-align: center;
					padding: 13px 18px;
					border: 1px solid #aaa;
					border-radius: 5px;
					color: #ddd;
					font-size: 1rem;
				}

				&.active {
					transform: perspective(750px) rotateY(0deg);
					box-shadow: 0 4px 30px rgba(10,10,10,0.7);
				}

				>div {
					align-self: initial;

					ul {
						flex-wrap: wrap;

						li {
							flex: 1 1 100%;
							border: 0;

							&.menu-item-has-children {
								position: relative;

								&.active {
									ul.sub-menu {
										max-height: 510px;
										margin: 6px 0 15px;
										transform: perspective(500px) rotateX(0deg);
										opacity: 1;
									}
								}

								$subnav-color: #354555;

								ul.sub-menu {
								    flex: 1 1 100%;
									max-height: 0px;
									position: static;
									transform: none;
									opacity: 1;
									background: $subnav-color;
									border: 0;
									box-shadow: none;
									margin: 0;
									padding: 0 6px;
									overflow: hidden;

									li {
										color: #FFF;
										background: lighten($subnav-color, 10);
										margin: 6px 0;
										padding: 4px 9px;

										&:hover {
											color: #FFF;
											background: none;
										}
									}
								}
							}
						}
					}
				}
			}

			.buttons {
				display: none;
			}
		}
	}
} }

@media screen and (max-width: 1120px) { html {
	footer {
		.footer-content {
			justify-content: center;

			>div {
				&.contact,
				&.site-map {
					flex-grow: 0;
				}

				&.contact {
					flex-basis: 300px;
				}

				&.site-map {
					flex-basis: 200px;
				}

				&.form {
					margin-top: 40px;
					flex-basis: 600px;
					flex-grow: 0;
				}
			}
		}
	}
} }

@media screen and (max-width: 809px) { html {
	main.interior {
		h2 {
			margin: 0 -20px;
		}

		.content-container {
			justify-content: center;

			aside,
			.sidebar {
				flex: 1 1 100%;
			}

			aside {
				padding-top: 25px;
				order: 2;
			}

			.content {
				@include has-hr;
				order: 1;
				padding: 15px;
			}
		}
	}

	footer {
		.footer-content {
			padding: 0 25px;

			>div {
				margin-top: 20px;

				&:first-child {
					margin-top: 0;
				}

				&.site-map {
					padding: 0;
					text-align: center;

					h3 {
						min-height: initial;
						margin-bottom: 15px;
					}
				}

				img {
					width: 100%;
				}

				.white-btn {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
} }

@media screen and (max-width: 640px) { html {
	main {
		.executive-message {
			.content {
				h3 {
					text-align: left;
					line-height: 50px;
					font-size: 2.8rem;

					&::after {
						margin: 25px 0;
					}
				}

				p,
				blockquote {
					text-align: left;
					margin-left: 0;
					padding-left: 30px;
				}
			}
		}
	}
} }

@media screen and (max-width: 580px) { html {
	header {
		.mobile-logo {
			text-align: left;
			padding: 10px 0 10px 15px;
			height: 88px;

			img {
				width: 50vw;
			}
		}
	}
} }

@media screen and (max-width: 425px) { html {
	main {
		.buckets {
			.bucket {
				flex-wrap: wrap;

				&.donate {
					&::before {
						margin: auto;
					}
				}

				&.volunteer {
					&::before {
						margin: auto;
					}
				}

				&.help {
					&::before {
						margin: auto;
					}
				}
			}
		}
	}

	footer {
		.footer-content {
			>div.form {
				em.label {
					flex: 1 1 100%;
				}

				span {
					margin-left: 0 !important;
					margin-top: 6px;
					margin-bottom: 10px;
				}
			}
		}
	}
} }
